@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

$text: #aeaeae;
$title: #313131;
$btn: #3075c6;
$btn-text: #ffffff;

$ns: 'Nunito Sans', sans-serif;

html {
    font-size: 10px;
}
 
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Для слайдеров
    > * {
        min-width: 0;
    }
}

body {
    font-size: 1.6rem;
    font-family: $ns;
    color: $text;
}

.header {
    max-width: 1310px;
    margin: 0 auto 5rem;
    padding: 4.5rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;

    &__button {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        background-image: url(../images/account.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        flex-basis: 12rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.3rem;
    flex-basis: 12rem;
    cursor: pointer;
}



.category-swiper {
    text-align: center;
    margin-top: 5.3rem;
    margin-bottom: 2.5rem;
    

    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($title, 0.5);
        color: rgba($title, 0.5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        transition: 0.3s;
        

        &:hover {
            border: 1px solid $title;
            color: $title;
            box-shadow: none
        }
    }
}
