@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

$text: #aeaeae;
$title: #313131;
$btn: #3075c6;
$btn-text: #ffffff;

$ns: 'Nunito Sans', sans-serif;

html {
    font-size: 10px;
    @media (max-width:$r_mob_500) {
        font-size: 8px;
    }
}
 
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Для слайдеров
    > * {
        min-width: 0;
    }
}

body {
    font-size: 1.6rem;
    font-family: $ns;
    color: $text;
}





.category-swiper {
    text-align: center;
    margin-top: 5.3rem;
    margin-bottom: 2.5rem;
    

    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($green, 0.5);
        color: rgba($green, 0.5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        transition: 0.3s;
        

        &:hover {
            border: 1px solid $orange;
            color: $orange;
            box-shadow: none
        }
    }
}
