@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

$text: #aeaeae;
$title: #313131;
$btn: #3075c6;
$btn-hover:rgba(93, 95, 239, 1);
$btn-text: #ffffff;
$hover: #3f3f3f;

$ns: 'Nunito Sans', sans-serif;

html {
    font-size: 10px;
}
 
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Для слайдеров
    > * {
        min-width: 0;
    }
}

body {
    font-size: 1.6rem;
    font-family: $ns;
    color: $text;
}

h1, h2, h3 {
    color: $title;
    margin: 0;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.6rem;
    margin-bottom: 1.1rem;
}

.span {
    font-size: 1.6rem;
    font-weight: 700;
}

.description {
    margin: 0;

    &__size-xs {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 136%;
        margin-bottom: 1rem;
    }

    &__size-s {
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__size-m {
        font-size: 1rem;
        font-weight: 400;
    }
}

.main {
    margin-bottom: 4.5rem;
}

.header {
    max-width: 1310px;
    margin: 0 auto 5rem;
    padding: 4.5rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
        display: block;
        height: 3.2rem;
        background-image: url(../images/account.svg);
        background-repeat: no-repeat;
        cursor: pointer;
        flex-basis: 4rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.3rem;
    flex-basis: 14rem;
    cursor: pointer;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tabs {
    font-size: 0;
    max-width: 665px;
    margin-left: auto;
    margin-right: auto;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: none;
    margin: 10px 10px;
    font-size: 16px;
    height: 419px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #ffffff;
    border: none;
    border-radius: 2rem;
    margin: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
    height: 97px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: none;
}


.photo {
    width: 148px;
    height: 98px;

    &__size {
        width: 100%;
        border-radius: 1.5rem;
    }

    &__shadow {
        box-shadow: 0 0 5rem;
        border-radius: 2.5rem;
    }

    &__radius {
        border-radius: 2.5rem;
    }
}

.about{

    &-box {
        display: flex;
        gap: 1%;
        align-items: center;
        justify-content: space-between;
        padding-top: 4.4rem;

        &__info {
            position: relative;
        }

        &__description {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 136%;
            margin-bottom: 2rem;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
            margin-top: 3.5rem;
            margin-bottom: 0;
            list-style: none;
        }

        &__location {
            text-decoration: none;
            color:$text;
            font-size: 1.8rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: 0.3s;
            
            &::before {
                content: '';
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../images/location.svg);
                background-size: 24px 24px;
            }

            &:hover {
                color: $hover;
                transition: 0.3s;
            }
        }

        &__list1 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            margin-top: 3rem;
            list-style: none;
            position: relative;
        }

        &__location1 {
            text-decoration: none;
            color:$title;
            font-size: 2.4rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            transition: 0.3s;
            
            &::before {
                content: '';
                display: block;
                width: 2rem;
                height: 2rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                border: 1px solid rgba(174, 174, 174, 0.2);
                background-color: rgba(174, 174, 174, 0.5);
                border-radius: 100%;
                position: absolute;
                right: 10.5rem;
                background-image: url(../images/calendar.svg);
                background-size: 12px 12px;
            }
        }

        &__location2 {
            text-decoration: none;
            color:$title;
            font-size: 2.4rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            transition: 0.3s;
            
            &::before {
                content: '';
                display: block;
                width: 2rem;
                height: 2rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                border: 1px solid rgba(174, 174, 174, 0.2);
                background-color: rgba(174, 174, 174, 0.5);
                border-radius: 100%;
                position: absolute;
                right: 11.5rem;
                background-image: url(../images/person.svg);
                background-size: 9px 12px;
            }
        }

        &__all {
            display: flex;
            gap: 5rem;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;
            margin-bottom: 4rem;
            border: 1px solid rgba(174, 174, 174, 0.2);
            color: #aeaeae;
            font-size: 1.8rem;
            text-decoration: none;
            border-radius: 3rem;
            box-shadow: 0 0 5rem;

            &::before {
                content: " ";
                background: $text;
                width: 1px;
                height: 66px;
                position: absolute;
                left: 20.5rem;
            }
        }

        &__month {
            border: none;
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;
            color: $text;
            height: 34px;
        }

        &__person {
            margin-bottom: 1.5rem;
        }

        &__calendar {
            margin-bottom: 1.5rem;
        }
    }

    &__link {
        font-size: 2.4rem;
        font-weight: 700;
        color: $btn-text;
        text-decoration: none;
        padding: 1.8rem 13rem;
        background-color: $btn;
        box-shadow: 0px 1rem 1.1rem 0.2rem rgba(48, 117, 198, 0.2);
        text-decoration: none;
        border-radius: 1.5rem;
        display: inline-block;
        border: none;
        transition: 0.3s;

        &:hover {
            background-color: $btn-hover;
            box-shadow: 0px 1rem 1.1rem 0.2rem rgba(93, 95, 239, 0.2);
            transition: 0.3s;
        }
    }

}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__button {
        font-size: 3rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $btn;
            transition: 0.3s;
        }
    }

    &__person {
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 8.2rem;
        border: none;
        text-align: center;
    }
}

.viewed {

    &__block {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__map {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__location {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        transition: 0.3s;
        
        &::before {
            content: '';
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/location.svg);
            background-size: 16px 16px;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: 0.3s;
        
        &::before {
            content: '';
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/price.svg);
            background-size: 16px 16px;
        }
    }
}

.category-swiper {
    display: block;
    text-align: left;
    padding-bottom: 6rem;
    

    &__link {
        border: 1px solid rgba($text, 0.2);
        color: $text;
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 3rem;
        display: block;
        box-shadow: 0 0 5rem;
        transform: scale(1);
        transition: 0.3s;

        &:hover {
            border: 1px solid rgba($text, 0.5);
            color: $text;
            transform: scale(1.14);
            transition: 0.3s;      
        }
    }
}

.swiper-slide:hover .tripnow {
    color: $btn-text;
    background-color: $btn;
    transition: 0.3s;
}

.catalog-grid__item:hover .tripnow {
    color: $btn-text;
    background-color: $btn;
    transition: 0.3s;
}

.swiper {
    &-slide {
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        transition: 0.3s;
        padding: 17px 21px 33px 21px;
    }
}

.swiper-wrapper {
    position: relative;
    width: 261px;
    height: 291px;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    gap: 4rem;
}

.catalog {
    padding-bottom: 9rem;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6rem 5rem;

    &__map {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        border: 1px solid rgba($text, 0.2);
        border-radius: 3rem;
        padding: 17px 19px 20px 19px;
        box-sizing: border-box;
        box-shadow: 0 0 5rem;
        transform: scale(1);
        transition: 0.3s;
        height: 343px;

        &:hover {
            border: 1px solid rgba($text, 0.5);
            color: $text;
            transform: scale(1.14);
            transition: 0.3s;
        }
    }

    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 178px; /*высота картинки*/
        text-align: left;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__description {
        min-height: 31px;
        max-width: 221px;
    }

    &__btn {
        font-size: 2rem;
        font-weight: 600;
        color: $btn-text;
        padding: 1.8rem 7rem;
        background-color: $btn;
        box-shadow: 0px 1rem 1.1rem 0.2rem rgba(48, 117, 198, 0.2);
        text-decoration: none;
        border-radius: 1rem;
        display: inline-block;
        border: none;
        transition: 0.3s;
        display: block;
        text-align: center;
        max-width: 240px;
        margin: 0 auto;
        margin-top: 8rem;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $btn-hover;
            box-shadow: 0px 1rem 1.1rem 0.2rem rgba(93, 95, 239, 0.2);
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.footer {
    padding-bottom: 1.6rem;

    &__description {
        font-size: 2rem;
        font-weight: 600;
        line-height: 136%;
        margin-top: 2rem;
        max-width: 142px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: $title;
        text-decoration: none;
    }

    &__item {
        margin-bottom: 1rem;
        
        &:first-child {
            margin-bottom: 1.5rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: $text;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: $title;
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        list-style: none;
        padding-left: 0;

        &__fb {
            display: flex;
            opacity: 0.7;
            transition: 0.3s;

            &::before {
                content: '';
                width: 37px;
                height: 37px;
                background-image: url(../images/social/fb.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 36;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;
            }
        }
    
        &__tg {
            display: flex;
            opacity: 0.7;
            transition: 0.3s;

            &::before {
                content: '';
                width: 37px;
                height: 37px;
                background-image: url(../images/social/tg.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 36;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;
            }
        }
    
        &__inst {
            display: flex;
            opacity: 0.7;
            transition: 0.3s;

            &::before {
                content: '';
                width: 37px;
                height: 37px;
                background-image: url(../images/social/inst.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 36;
            }

            &:hover {
                opacity: 1;
                transition: 0.3s;
            }
        }
    }

    &__text {
        margin-top: 6rem;
    }
    
    &__copy {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
}

.tripnow {
    display: none;
    display: block;
    position:absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    padding: 1rem 1.5rem;
    color: transparent;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: -1;
    border-radius: 0 0 2rem 2rem;
    transition: 0.3s;
}